<html>
	<head>
		<meta charset="UTF-8">
		<title>FutureSoftware FUSION Framework for PHP</title>
	</head>
	<body width="100%">

		<table width="100%" cellpadding="0" cellspacing="0"><tr><td align="center">

			<img src="./FUSION3/images/logo.png" width="200px">

			<br />
			<br />

			<table width="900px" cellpadding="7" cellspacing="0" style="font-size:12px;border:1px solid #cccccc;">
				<tr>
					<td colspan="2" align="center" style="border-bottom:1px solid #cccccc;font-size:14px;font-weight:bold;background-color:#ff0000;color:#ffffff;">FUSION3&nbsp;Fatal&nbsp;error</td>
				</tr>
				<tr>
					<td width="80px" style="border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;background-color:#eeeeee;font-size:12px;">Error&nbsp;reason</td>
					<td style="border-bottom:1px solid #cccccc;font-size:12px;">%{$exceptionMessage}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #cccccc;background-color:#eeeeee;font-size:12px;">Stack&nbsp;trace</td>
					<td style="font-size:12px;">%{$exceptionMessageDetail}</td>
				</tr>
			</table>

		</td></tr></table>

	</body>
</html>
